body {
    margin: 0;
    padding: 0;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    max-height: 100px;
}

.menu-container .menu-container-items {
    width: 100%;
    height: 100%;
    padding: 15px 150px 15px 70px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 0 3px 10px rgba(37, 37, 37, 0.1);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.menu-container .menu-container-items .mainMenu-items-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-container .menu-container-items .left-menu-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.menu-container li a {
    height: 24px;
    padding-left: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #333333;
}

li{
    list-style-type: none;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 150px;
    background: #FCFDFE;
    color: #333333;
    text-align: center;
    border-top: 1px solid #62626A;;
}

.footer-container .footer-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 250px;
}

.footer-container .footer-items-container .footer-container-link-names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 250px;
}

.footer-container .footer-items-container .footer-container-copy-rights{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
}

.footer-container .footer-items-container .footer-container-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
}

.footer-container .footer-items-container div{
    width: 100%;
}

.footer-container .footer-copyRight{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.footer-container .footer-divider {
    width: 100%;
    height: 0;
    border: 1px solid #CBD4E6;
    position: absolute;
    left: 0;
    bottom: 80px;
}

.footer-container .footer-columns-container {
    text-align: left;
}

.link-containers a {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.link-containers a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.link-containers .active a {
    background-position: 0;
}

.link-containers a:hover {
    background-position: 0;
}

.link-containers a:hover::before{
    width: 100%;
}

.footer-subscriber {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer-subscriber #subscriber_submit {
    height: 40px;
    background: #1E88E5;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 10px;
    color: white;
}

.footer-subscriber .subscriber-email {
    width: 200px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #62626A;
    padding: 1px 0 1px 8px;
    border-radius: 8px;
    outline: none;
}

.footer-subscriber .footer-subscriber-container {
    display: flex;
    align-items: center;
}

.reports-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.reports-content-container .reports-title {
    text-align: center;
    margin-top: 0;
}

.reports-content-container #report-list {
    width: 100%;
    padding: 20px 40px;
    max-width: 1400px;
}

.reports-content-container .single-report-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 120px;
    cursor: pointer;
    border: 1px solid #42A5F5;
    border-radius: 10px;
    margin-bottom: 15px;
}

.reports-content-container .single-report-name {
    color: #1E88E5;
    margin-right: 10px;
    font-size: 18px;
}

.reports-content-container span {
    color: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.fa-download {
    color: #1E88E5;
    margin-left: 10px;
}
