body {
    margin: 0;
    padding: 0;
}

.menu-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    max-height: 100px;
}

.menu-container .menu-container-items {
    width: 100%;
    height: 100%;
    padding: 15px 150px 15px 70px;
    left: 0;
    top: 0;

    background: #FFFFFF;
    box-shadow: 0 3px 10px rgba(37, 37, 37, 0.1);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.menu-container .menu-container-items .mainMenu-items-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.menu-container .menu-container-items .left-menu-item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.menu-container li a {
    height: 24px;
    padding-left: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #333333;
}

li{
    list-style-type: none;
}

.footer-container {
    width: 100%;
    min-height: 150px;
    background: #FCFDFE;
    color: #333333;
    text-align: center;
    border-top: 1px solid #62626A;
}

.footer-container .footer-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 250px;
}

.footer-container .footer-items-container .footer-container-link-names{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 250px;
}

.footer-container .footer-items-container .footer-container-copy-rights{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    border-top: 1px solid #CBD4E6;
}

.footer-container .footer-items-container .footer-container-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100px;
}

.footer-container .footer-items-container div{
    width: 100%;
}

.footer-container .footer-copyRight{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.footer-container .footer-columns-container {
    text-align: left;
}

.link-containers a {
    background-image: linear-gradient(
        to right,
        #54b3d6,
        #54b3d6 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in-out;
}

.link-containers a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.link-containers .active a {
    background-position: 0;
}

.link-containers a:hover {
    background-position: 0;
}

.link-containers a:hover::before{
    width: 100%;
}

.footer-subscriber {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer-subscriber #subscriber_submit {
    height: 40px;
    background: #1E88E5;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 2px 10px;
    color: white;
}

.footer-subscriber .subscriber-email {
    width: 200px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #62626A;
    padding: 1px 0 1px 8px;
    border-radius: 8px;
    outline: none;
}

.abouts-content-container input {
    width: 200px;
    height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #62626A;
    padding: 1px 0 1px 8px;
    border-radius: 8px;
    outline: none;
}

.abouts-content-container label {
    display: block;
}

.footer-subscriber .footer-subscriber-container {
    display: flex;
    align-items: center;
}

.reports-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px;
}

.reports-content-container .reports-title {
    text-align: center;
    margin-top: 0;
}

.reports-content-container #report-list {
    width: 100%;
    padding: 20px 40px;
    max-width: 1400px;
}

.reports-content-container .single-report-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 120px;
    cursor: pointer;
    border: 1px solid #42A5F5;
    border-radius: 10px;
    margin-bottom: 15px;
}

.reports-content-container .single-report-name {
    color: #1E88E5;
    margin-right: 10px;
    font-size: 18px;
}

.reports-content-container span {
    color: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.fa-download {
    color: #1E88E5;
    margin-left: 10px;
    background-size: 100% 100%;
}

.home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content-container .home-background {
    background-image: url("/images/background.png");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-content-container .home-texts {
    margin: 250px 150px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
}

.home-content-container .home-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 150px;
}

.home-content-container .home-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 150px;
}

.home-content-container .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-content-container .choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home-content-container .home-achievements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 200px;
    height: 300px;
}

.home-content-container .achievements-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.89deg, #456FE8 9.11%, #19B0EC 92.08%);
    color: white;
}

.home-content-container .achievements-column-container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.home-content-container .achievements-column-container {
    min-width: 400px;
    text-align: center;
}

.home-content-container .achievements-column-container h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.home-content-container .single-service {
    background: #FFFFFF;
    border: 1px solid #42A5F5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.home-content-container .single-choose {
    background: #FFFFFF;
    border: 1px solid #42A5F5;
    max-width: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
    padding: 20px 20px 120px;
    text-align: center;
    background: linear-gradient(0deg, #1E88E5 3.82%, rgba(255, 255, 255, 0) 49.4%);
}

.home-content-container .single-service h3{
    margin-bottom: 5px;
    margin-top: 0;
}

.home-content-container .single-choose h3{
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.home-content-container .single-service h4{
    margin-bottom: 5px;
    margin-top: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.home-content-container .single-service button{
    margin-top: 50px;
    color: #1E88E5;
    background: #FFFFFF;
    border: 1px solid #42A5F5;
    border-radius: 10px;
    width: 75px;
    height: 35px;
}

.home-content-container .home-available {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 100px;
    height: 800px;
    background: url("/images/available.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home-content-container .available-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.home-content-container .available-container div {
    padding: 0 150px;
}

.home-content-container .available-container .map-container {
    width: 400px;
    height: 400px;
}


.home-content-container .available-container .locations-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.home-content-container .available-container .locations-container .locations-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: 30px;
}


.home-content-container .available-container .locations-container .locations-block .locations-block-items{
    padding: 2px 15px !important;
    height: 100%;
}

.home-content-container .available-container .locations-container .locations-block .locations-block-items h4{
    margin: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.home-content-container .available-container .locations-container .locations-block button {
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    height: 45px;
    background: transparent;
    color: white;
    font-size: 16px;
}

.home-content-container .available-container .locations-container .customer-container {
    color: white;
}

.home-content-container .available-container .locations-container .customer-container a{
    color: white;
}

.home-content-container .available-container .locations-container .customer-container h4{
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.fa-map-marker {
    color: white;
}
.icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.abouts-content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 300px;
}

.abouts-content-container .about-content{
    max-width: 1000px;
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.abouts-content-container .contact-us-form-container{
    max-width: 1000px;
    min-height: 200px;
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.abouts-content-container .main-about-content {
    margin-left: 30px;
}


.abouts-content-container .about-content .about-image-container img{
    width: 300px;
}

.abouts-content-container .contact-image-container img{
    width: 300px;
}

.abouts-content-container .main-about-content h1{
    text-align: center;
}
.abouts-content-container .main-about-content h2{
    text-align: center;
}

.abouts-content-container .main-about-content span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
}
